body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-image: url("https://m5.paperblog.com/i/282/2821610/free-web-backgrounds-free-60-huge-backgrounds-L-T7PvUq.jpeg");
  background-size: cover;
  text-align: center;
  color: white;
  font-family: 'Verdana', sans-serif;
}
h1 {
  font-size: 8vmin;
  font-weight: normal;
  
}
.game {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.board {
  display: grid;
  grid-template-rows: repeat(3, 18vmin);
  grid-template-columns: repeat(3, 18vmin);
  grid-gap: 0vmin;
}

.sqr {
  font-size: 13vmin;
  text-align: center;
  vertical-align: middle;
  cursor: crosshair
}

#sq0 {
  border-right: 5px solid white;
  border-bottom: 5px solid white;
}

#sq1 {
  border-right: 5px solid white;
  border-bottom: 5px solid white;
  border-left: 5px solid white;

}

#sq2 {
  border-left: 5px solid white;
  border-bottom: 5px solid white;
}

#sq3 {
  border-top: 5px solid white;
  border-right: 5px solid white;
  border-bottom: 5px solid white;
}

#sq4 {
  border: 5px solid white;
}

#sq5 {
  border-top: 5px solid white;
  border-left: 5px solid white;
  border-bottom: 5px solid white;
}

#sq6 {
  border-top: 5px solid white;
  border-right: 5px solid white;
}

#sq7 {
  border-right: 5px solid white;
  border-left: 5px solid white;
  border-top: 5px solid white;
}

#sq8 {
  border-top: 5px solid white;
  border-left: 5px solid white;
}

#message {
  font-size: 8vmin;
  font-weight: normal;
  margin-bottom: 3vh;
  color: red
}
#play {
  background-color:#44c767;
	border-radius:28px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
  }